.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: transparent; /* Initially transparent */
  z-index: 1000;
  transition: transform 0.3s ease, backdrop-filter 0.3s ease,
    box-shadow 0.3s ease, opacity 0.3s ease;
  backdrop-filter: none;
  opacity: 1;
}

.scrolled {
  position: fixed; /* Set to fixed to avoid glitches with 'sticky' */
  top: 0;
  transform: translateY(0); /* Ensures it stays at the top smoothly */
  background: transparent; /* Transparent, you can add blur effect */
  backdrop-filter: blur(10px); /* Optional blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
  opacity: 1; /* Keep opacity at 1 for smooth transition */
}

.header.hidden {
  transform: translateY(-100%); /* Slide out of view */
  opacity: 0; /* Fade out */
}

.custom-header-width {
  height: 50px; /* Adjust to your logo size */
}
.custom-header-right-side-icons {
  display: flex;
  justify-content: space-between;
  gap: 300px;
}
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
