.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: transparent;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 1000;
  background-color: #f7f7f5;
}

.header.scrolled {
  /* background: rgba(255, 255, 255, 0.8); */
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-header-width {
  height: 50px; /* Adjust to your logo size */
}
.custom-header-right-side-icons {
  display: flex;
  justify-content: space-between;
  gap: 300px;
}
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
