.hero {
  height: 100vh;
  /* background-image: url("/path-to-hero-image.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f5;
  /* width: 1440px; */
  height: 832px;
}

.hero-content {
  text-align: center;
  color: #000;
}

.hero h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-family: Satoru;
  font-weight: normal;
  max-width: 1200px;
}

.hero p {
  font-size: 1.2rem;
  max-width: 1200px;
  margin: 0 auto;
}
